body {
  overflow: hidden;
}

header {
  margin-top: 15px;
  text-align: center;
  background-color: #555b6e;
  color: #faf9f9;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
}

.instructions {
  padding-top: 5px;
  font-family: "Dosis";
  font-size: 20px;
  text-align: center;
}

.zoo {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75vh;
}

.container::before {
  content: "";
  background: #89b0ae
    url(https://source.unsplash.com/2600x1900/?wildlife,zoo,animals);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border: solid #555b6e 1px;
}

.inputs div {
  padding: 5px;
}

#submitBtn {
  margin-top: 15px;
  background: #555b6e;
  color: #ffffff;
  border: none;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

#submitBtn:hover {
  color: #f4f4f4;
  background: #89b0ae;
}

@media (max-height: 600px) {
  header {
    padding-top: 3px;
  }

  .instructions {
    display: flex;
    flex-direction: inline;
    justify-content: space-evenly;
  }

  /* .inputs {
    display: flex;
    flex-direction: row;
     */
}

/* body {
}

.title {
  font-size: 4rem;
}

.instructions {
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--footer-height));
}

section {
  background-color: var(--color5);
  width: 1000px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
  border: solid 2px var(--color1);
}

header {
  display: flex;

  justify-content: center;
  background-color: var(--color3);
  height: var(--header-height);
  box-shadow: var(--shadow);
}

footer {
  display: flex;
  justify-content: flex-end;
  background-color: var(--color3);
  box-shadow: var(--shadow);
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.gutter-right {
  margin-right: 20px;
}

.main-logo {
  animation: pulse 5s infinite ease-in-out;
}

header img {
  height: var(--header-height);
}

<<<<<<< HEAD
.zoo {
  display: none;
}

=======
#zoo {
    display: none;
}

#inputs{
    
}

>>>>>>> f4a133e526a33cdb195bc25c23e706da606e6ab7
content {
  width: 80%;
}

p {
  margin: var(--gutter);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: var(--footer-height);
  display: flex;
  justify-content: flex-end;
  background-color: var(--color3);
  box-shadow: var(--shadow);
}

@keyframes pulse {
  20% {
    transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
  }

  40% {
    transform: rotate3d(10, 10, -10, 50deg) scale(1);
  }

  60% {
    transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
  }

  80% {
    transform: rotate3d(10, 10, 10, 50deg) scale(1);
  }
} */
